<mat-toolbar class="toolbar">
    <span>{{ title }}</span>
</mat-toolbar>

<mat-divider></mat-divider>

<mat-sidenav-container class="main-container">
    <mat-sidenav [mode]="'side'"
                 [opened]="areFiltersOpened"
                 class="filters">
        <span>Filters</span>
    </mat-sidenav>

    <mat-sidenav-content class="main-content">
        <div class="buttons">
            <button mat-mini-fab
                    (click)="onToggleFilters()">
                <mat-icon>menu</mat-icon>
            </button>
            <button mat-mini-fab
                    class="apply-filters-button"
                    (click)="onApplyFilters()">
                Apply Filters
            </button>
            <button mat-mini-fab
                    class="view-details-button"
                    [disabled]="selectedBook == null"
                    (click)="openBookDetailsDialog()"
            >
                View Details
            </button>
            <button mat-mini-fab>
                <mat-icon>add</mat-icon>
            </button>
        </div>
        <app-books-grid
            [rows]="books"
            [isLoading]="isLoadingBooks"
            (rowSelected)="onBookSelected($event)"
        ></app-books-grid>
    </mat-sidenav-content>
</mat-sidenav-container>
